[2012-03-14 18:22] bsparrow435 opened #151 "riak-admin wait-for-service riak_kv <bad_node_name> does not return error"
Running riak-admin wait-for-service riak_kv with a bad node name (i.e. localhost) return:

riak_kv is not up: []

No indication that this is a bad node name.  Suggest putting logic in to check node name for cluster membership or ability to ping.

Identified in 1045 during upgrade from 0.14 to 1.1.1 (https://help.basho.com/tickets/1045)

[2012-04-04 05:14] Vagabond opened #162 "Don't read ring files from the future"
If a ringfile is written with a sufficiently skewed timestamp, subsequent ring updates will be ignored on node restart until the ring file timestamp is no longer is in the future. This can cause very surprising behaviour,

A simple way to replicate is simply to change the 'year' part of the ringfile's timestamp to a year in the future, change some ring configs, and restart the node.

Better behavi

[2013-08-09 21:38] jrwest commented on #151
verified this still occurs on master today. I've actually been bit by this working on some automated perf testing. this should be fixed in the next release or two so it will be left open.

[2013-08-09 21:45] jrwest commented on #162
marked as bug and that there are intentions to fix in near future.

[2013-09-18 23:17] lukebakken opened #388 "Folsom error during riak_core shutdown."
From the `console.log` of a Riak node. It appears the ets table identifier is invalid due to the table not existing anymore, causing the `badarg` error.

[code]

See support ticket #5992

[2013-09-27 07:41] slfritchie commented on #151
@jrwest @bsparrow435 @deanproctor Hrm, since Dean's recent PR #385 was recently withdrawn without merging, what's the New Plan?

[2013-09-27 07:44] slfritchie commented on #162
@Vagabond @jrwest Time for some belated repo curating ... is there any plan to fix this for Riak 2.0? ... It seems to me that @rzezeski's reference to this issue number was a typo?  Because I don't see anything in that commit that deals with ring files.

[2013-09-27 15:33] Vagabond commented on #162
I've no intent to fix it in 2.0.

[2013-09-27 15:56] rzezeski commented on #162
@slfritchie This is from GitHub automatically linking because of the `#162` in the commit message.  I have no involvement in this ticket.  Well...I guess that isn't true anymore :)

[2013-09-27 17:27] jrwest commented on #151
@slfritchie @deanproctor opened https://github.com/basho/riak/pull/394 to handle the case where no node name is provided. I agree w/ @evanmcc that handling the invalid node-name should probably be handled here in core. I don't think we have plans for 2.0 (although maybe we will get to it right now its on the "Next Release + 1" milestone)

[2013-09-27 17:35] evanmcc commented on #151
Yeah, I think that this is an easy polish thing that we should address in
the harden/polish post-ricon phase.

On Fri, Sep 27, 2013 at 10:27 AM, Jordan West notifications@github.comwrote:

[2013-09-27 17:47] jrwest commented on #162
@slfritchie no intent for 2.0 that I know of. its marked "Next Release + 1" right now.

[2013-10-01 03:55] slfritchie commented on #388
Perhaps @jaredmorrow @Vagabond and/or @russelldb have any opinions on this?  Would this issue be addressed by:
1. merging the upstream branch in order to get https://github.com/boundary/folsom/pull/60, and then...
2. using the new safely_notify\* functions to avoid this harmless-but-customer-confusing race?

[2013-10-01 07:08] russelldb commented on #388
I don't think that change would help: these errors are from processes that were started to trim the size of ets tables every N seconds that find their tables gone.

Is there a way they can monitor the existence of the table and just stop when the table is deleted?

[2013-10-01 08:03] slfritchie commented on #388
Hrm ... just putting a 'catch' around the trim call at
https://github.com/basho/folsom/blob/master/src/folsom_sample_slide_server.erl#L61
seems a bit ugly: it could mask bugs that someone might like to know about.

Another option would be to have all folsom tables owned by a single owner proc.  Then the OTP application startup & shutdown ordering could take care of races like this one.  The cost w

[2013-10-01 08:15] russelldb commented on #388
Yes, I think that is the right thing to do. It has been mentioned a few times on the folsom repo issue list too. So far, I haven't had time to do this work.

[2013-10-01 16:29] joewilliams commented on #388
Seems reasonable, I'm in the same boat, haven't had time to contribute to folsom recently to take care of things like this.

[2014-03-18 16:45] slfritchie opened #557 "Handoff key filtering (repair or ring resize handoff) does not send periodic sync messages to keep TCP connection alive"
Confirmed in the lab: while doing repair handoff, the filtering done appears to prevent sending batches of handoff data to the receiver.  The receiver's default timeout is 5 minutes, but it's see-it-with-my-own-eyes possible to fold over Bitcask data at over 150MBytes per second and not have enough data to send to trigger the receiver's 5 minute idle timeout.

After the reciever has timed out, the

[2014-03-24 15:47] jrwest commented on #557
changed to milestone `2.0.1` for same reason as https://github.com/basho/riak_core/pull/560#issuecomment-38460264. Happy to revist again.

[2014-03-24 16:31] jrwest commented on #388
Marking as milestone `2.0.1` since this seems to be an existing issue and we don't have a planned fix for `2.0-RC`.

[2014-03-24 17:11] jrwest commented on #162
moved to `2.1` milestone

[2014-03-24 17:28] jrwest commented on #151
not happening for `2.0-*` but moving to `2.0.1` since I still think this is a good/quick/easy/etc fix.

[2014-03-29 07:23] angrycub opened #565 "Error text for the transfers fun failing is confusing and scary"
The text at https://github.com/basho/riak_core/blob/develop/src/riak_core_console.erl#L223-L225 can easily be taken to mean that transfers failed rather than the transfers function failing. This confuses and alarms users needlessly.

[2014-09-30 14:42] lukebakken opened #631 "Add command to rebalance ring."
Customer ticket 8830

There should be a dedicated `riak-admin` command to address the "replicas not on distinct nodes" message.

[2014-10-08 15:37] jrwest opened #634 "handoff.ip is missing from riak_core.schema"
when it is added we should add a validation to ensure people *do not* set it to `127.0.0.1` -- it can cause problems.

[2014-12-14 08:00] andrewjstone opened #670 "Riak failing to start with message: "handoff.ip invalid, must be a valid IP address" #670 [JIRA: RIAK-1467]"
This [commit](https://github.com/basho/riak_core/pull/653) seems to have caused an issue that @coderoshi saw on friday afternoon and is now being asked about in IRC.

It doesn't look like handoff.ip is defined at all. Adding `{handoff_ip,        "127.0.0.1"}.` into `rel/vars.config` and rebuilding with `make stagedevrel` fixes the issue.

cc @aberghage

[2015-01-01 19:24] Vagabond opened #694 "Wrong style of git url in rebar.config for clique"
https://github.com/basho/riak_core/blob/2.0/rebar.config#L19

This line should be git:// not git@, because it makes anonymous clones fail.

cc @andrewjstone

[2015-01-01 23:19] andrewjstone commented on #694
Fixed by #695

[2015-01-01 23:19] #694 closed

[2015-01-08 19:50] andrewjstone commented on #634
Fixed by #653

[2015-01-20 22:57] andrewjstone commented on #670
This doesn't seem to be an issue anymore. Closing.

[2015-01-21 02:49] hazen commented on #670
@andrewjstone Thanks for pointing this out. It has been trolling me recently.

[2015-01-21 04:38] andrewjstone commented on #670
@javajolt Looks like I derped earlier. This breakage exists on develop and I only tested on 2.0. Re-testing on develop now to make sure. I will have the fix in soon.

[2015-01-21 04:42] andrewjstone commented on #670
Oh yeah, still a problem.

[2015-01-21 05:15] andrewjstone commented on #670
The following PRs fix this bug:
basho/riak#668
basho/riak_ee#308

[2015-01-21 05:19] Basho-JIRA commented on #670
It turns out that this bug only existed on the develop branch of riak and riak_ee. It therefore will NOT be included in 2.0.5 and I removed that as the fix version.

**_[posted via JIRA by Andrew Stone]**_

[2015-01-22 19:35] #670 closed

[2015-02-09 17:51] Basho-JIRA opened #698 "SSL connections from peers with matching wildcard name are always rejected [JIRA: RIAK-1506]"
At [https://github.com/basho/riak_core/blob/develop/src/riak_core_ssl_util.erl#L189] we perform an exact string comparison on an X.509 certificate's CN and reject all connection attempts if the peer certificate's name matches our own.

The problem arrises when the CN begins with a wildcard, which is not an uncommon practice where pools of hosts are involved.  In this case, there are legitimate use

[2015-02-09 17:52] Basho-JIRA commented on #634
This was resolved a while ago by https://github.com/basho/riak_core/pull/653 — time to learn how to mark a jira issue closed.

**_[posted via JIRA by Alex Berghage]**_

[2015-02-09 17:58] Basho-JIRA commented on #634
Reopening b/c JIRA workflow was screwy when I closed this, so it never got a resolution field and still shows in my dash.

**_[posted via JIRA by Alex Berghage]**_

[2015-02-09 22:02] Basho-JIRA commented on #698
If it would be helpful, it sounds as though the customer (see: https://basho.zendesk.com/agent/tickets/10030) would be more than happy to test a patch to verify that the fix resolves their issue.

**_[posted via JIRA by Justin Pease]**_

[2015-02-09 22:04] Basho-JIRA commented on #698
Also, worth noting: Customer expectation is that this will be in 2.0.6 (via Nate Gustafson).

**_[posted via JIRA by Justin Pease]**_

[2015-02-12 19:58] macintux opened #702 "del_source is problematic"
`riak_core_console:del_source` ignores any errors from `parse_cidr` (about to add a throw) and doesn't check a return value from `riak_core_security:del_source`.

Of course, `riak_core_security:del_source` returns `ok` regardless of the arguments (barring any exceptions) and doesn't check to see if the sources being deleted exist.

[2015-02-16 00:01] cmeiklejohn opened #704 "riak_core apps throwing CLI errors for missing schema files?"
Just bumped a riak_core application to 'develop' HEAD now that 2.0 has been merged in and I'm getting failures in trying to start my core application:

[code]

[2015-02-16 00:29] cmeiklejohn commented on #704
Resolved by adjusting my `reltool.config` with the schema settings from here:
https://github.com/basho/rebar_riak_core/commit/520aa7f460706fb3db7e6d275a3dfe2dcccc2a7f

[2015-02-16 00:29] #704 closed

[2015-02-18 14:45] Basho-JIRA commented on #698
The work for this is complete but is waiting on 2.0.5 release to be merged.

riak_core PR: https://github.com/basho/riak_core/pull/701
riak_test PR: https://github.com/basho/riak_test/pull/737

**_[posted via JIRA by Douglas Rohrer]**_

[2015-02-18 20:50] marianoguerra opened #706 "possible error formatting error message in security module [JIRA: RIAK-1802]"
hi, I think this is an error, if I get a confirmation I would be more than happy to provide a pull request.

the issue starts when a call like this:

	7> riak_core_security:check_permissions({"get", any}, Ctx).
	** exception error: bad argument
	     in function  unicode:characters_to_binary/3
		called as unicode:characters_to_binary(any,utf8,utf8)
	     in call from riak_core_security:check_permi

[2015-02-18 23:08] marianoguerra commented on #706
proposed fix:

note, it doesn't replace Bucket being any in case the parameter is {Type, Bucket}, I haven't seen that case, but adding a case for that is easy

[code]

[2015-02-19 10:40] marianoguerra commented on #706
here is a failing test case and a proposed fix:

https://github.com/marianoguerra/riak_core/tree/fix-issue-706

comparison here:

https://github.com/marianoguerra/riak_core/compare/fix-issue-706

I can do a pull request if it fits your workflow

[2015-02-19 10:56] marianoguerra opened #707 "export riak_core_security:get_context, maybe make it not crash for unknown users?"
I have a webapp that used Json Web Token [1], that means the user authenticates, I give it a token and then he does a new request with that token, then I have to get the context from riak_core_security to check permissions, for this I need to export get_context to call it with the username in the token since neither I nor the user holds the password to authenticate again.

is there another way to

[2015-02-19 11:04] marianoguerra commented on #707
as an aside, if get_context is called with an nonexistent user it crashes with badarg, here is a diff that avoids the crash but maybe the returned value doesn't make sense:

[code]

using it before:

[code]

using if after with an unknown user:

[code]

[2015-02-19 11:08] marianoguerra commented on #707
fix here: https://github.com/marianoguerra/riak_core/commit/3cb0f095521b1e5f60cfde2cf7c132473048a978

[2015-02-19 11:16] marianoguerra opened #708 "riak_core doesn't build on Erlang 17"
the flag warning_as_errors makes deprecation warnings abort the build, the warnings are:

    src/supervisor_pre_r14b04.erl:83: type dict/0 is deprecated and will be removed in OTP 18.0; use use dict:dict/0 or preferably dict:dict/2
    src/supervisor_pre_r14b04.erl:83: type set/0 is deprecated and will be removed in OTP 18.0; use use sets:set/0 or preferably sets:set/1

a proposed solution is pro

[2015-02-19 11:53] marianoguerra commented on #708
fix here: https://github.com/marianoguerra/riak_core/commit/036dbfb7c84bb01999df9a3f3f8230c75f135ac5

let me know if you prefer a pull request

[2015-02-19 14:52] cmeiklejohn commented on #708
We're hoping to target the next Riak release at Erlang 17, and we'll be addressing this in the process of doing that.  We'll most likely be pulling in upstream changes from poolboy.  Stay tuned.

[2015-02-20 09:59] marianoguerra commented on #708
it builds now on develop, thanks!

[2015-02-20 09:59] #708 closed

[2015-02-20 15:32] jadeallenx commented on #708
Yeah, lot of stuff behind the scenes last night. :)  Glad we could get this in.

[2015-02-24 04:30] ksauzz opened #711 "riak_core_console doesn't handle -ref & -datapoints options on `riak-admin stat info`"
Although help message contains these options, it doesn't work. To fix this, we add options [here](https://github.com/basho/riak_core/blob/d55e1bee5e7fe57a820a69b3e541faefa2b92e11/src/riak_core_console.erl#L1372-L1388). However I'm not sure we should remove these option, or add codes to handle them.

#### help message

[code]

#### with `-datapoints`

[code]

#### with `-ref`

[code]

[2015-02-25 22:35] seancribbs commented on #698
Addressed by #701

[2015-02-25 22:35] #698 closed

[2015-02-26 12:46] emauton opened #715 "Hinted handoff relies upon the VNode entering "inactive" state."
The `riak_core_vnode` carries an inactivity timeout reset each time it handles a message:
  https://github.com/basho/riak_core/blob/develop/src/riak_core_vnode.erl#L277

The timeout is necessary for handoffs of the "hinted" type to occur, via coordination of the VNode:
  https://github.com/basho/riak_core/blob/develop/src/riak_core_vnode.erl#L463

... and the VNode manager (using `maybe_trigger_ha

[2015-02-26 15:11] jonmeredith commented on #715
Using the vnode manager is my preferred way of handling it.  Periodically the vnode mgr should ping the vnode (using a proxy process so it doesn't block) and ask how many requests it has handled - if the vnode mgr sees that it is inactive and a fallback, it can trigger handoff/shutdown.

Ideally we'd remove any circular dependencies between the vnode and the vnode mgr as it would be very helpful f

[2015-02-26 20:51] DeadZen commented on #715
The underlying question I think is, could handoffs get stalled if a vnode is never considered idle, is a management timer alone enough to determine this reliably, or is perhaps a timer + max # of requests more appropriate or a better option.

[2015-03-19 12:00] binarytemple opened #721 "Support for cancelling a single (stalled) ownership_transfer"
#### Scenario

There are two transfers in progress from a node, each transfer is ~170GB in size.

One transfer has stalled for 6 hours (partition 0), but the other transfer is making progress and has reached 60%.

It is possible to kill all transfers from a single node, using: `riak-admin transfer-limit <nodename> 0`.

But by doing so, the node would have to restart both transfers from the beginni

[2015-03-19 19:22] DeadZen opened #722 "Add generic PUT/WRITE and GET/READ Coordinator FSMs"
I believe it's time we put the generalities of the distributed semantics one expects to find in riak_core in with the actual riak_core modules, since riak v2 has essentially decided on the correct "vclock situation" by adding "dots" and has it's own "crdt" library, a correct no-frills implementation of satisfying quorum with conflict resolution can be added to reinforce concepts and reduce buggy a

[2015-03-19 21:13] russelldb commented on #722
Kind of disagree.

Riak_kv uses something like dvvsets, which are part of riak_core, and preferable to the way riak_kv does things. Riak_kv's dotted version vectors are the way they are for backwards compatibility, why force that on new core apps?

Riak_kv uses riak_dt, which is a standalone library of functional data types. It is integrated with a few other riak_core/db apps from the SyncFree res

[2015-03-19 22:51] DeadZen commented on #722
Ok, it seemed like that was the most backward compatible way yes. And
indeed that aspect should be decoupled in logic, I dont presume to know
what is the exact way it should be, more then to indicate if its assumed
coordinators are un-generalizable that it may lead to buggy ad-hoc
implementations in other riak core based apps. I did review many of these
apps, and I spoke with @ricardobcl  after re

[2015-03-20 00:53] jonmeredith commented on #722
It is interesting how to separate the concerns of

a) Representing where data is normally and in the presence of failures (combination of ownership in the ring, nval in bucket properties, the node watcher to generate the active preference list as seen by a node).
b) How messages are exchanged between FSM type things and Vnode type things - unicast, request/response, request/stream etc
c) The actua

[2015-03-20 01:55] DeadZen commented on #722
Quite right, c is what id like to start with, i have some unique ideas for
a and b too but i think heres the best place to start, and forge some
partnership from the community at the same time, as I'm sure everyone who
has tried to work with riak_core would appreciate a more well lit view of
the architecture and capabilities.

On Thursday, March 19, 2015, Jon Meredith notifications@github.com wrot

[2015-03-20 07:30] russelldb commented on #722
Agree wrt to C also, since we recently had discussion in irc about riak_core and chain-replication: not everyone wants a Get/Put fsm that works with quora etc.

[2015-03-23 18:25] #634 closed

[2015-03-31 18:15] macintux opened #727 "edoc failure [JIRA: RIAK-1662]"
[code]

[2015-03-31 22:20] Basho-JIRA commented on #727
It appears as though this should be in "Needs Review" but I'm not 100% sure.

**_[posted via JIRA by Derek Somogyi]**_

[2015-04-01 00:31] #727 closed

[2015-04-01 17:53] Basho-JIRA commented on #721
This appears to be a bug more than a feature request.  Please let me know if that is incorrect.

**_[posted via JIRA by Derek Somogyi]**_

[2015-04-01 18:07] Basho-JIRA commented on #722
Sean, please verify that this can be closed.

**_[posted via JIRA by Derek Somogyi]**_

[2015-04-30 16:03] jonmeredith opened #731 "riak_core_sysmon_handler does not understand long schedule for ports."
Found this in a customer log... Pull request incoming.
[code]

[2015-05-13 22:56] jcapricebasho commented on #706
comment for jira

[2015-05-14 13:08] lukebakken commented on #706
@marianoguerra - Did you run into this during normal Riak usage or only from a `riak attach` session?

[2015-05-14 15:16] linearregression opened #736 "Enable Sourcegraph"
I want to use [Sourcegraph](https://sourcegraph.com) for riak_core code search, browsing, and usage examples. Can an admin enable Sourcegraph for this repository? Just go to https://sourcegraph.com/github.com/basho/riak_core. (It should only take 30 seconds.)

Thank you!

[2015-05-14 16:47] Basho-JIRA commented on #706
Please see this pull request:

https://github.com/basho/riak_kv/pull/1116

**_[posted via JIRA by Luke Bakken]**_

[2015-05-14 16:52] Basho-JIRA commented on #706
[~jmeredith], can you get someone to review this and get added to the next Riak release?  The "Get Preflist" function will not work with Riak security enabled without this fix.  Thanks.

**_[posted via JIRA by Derek Somogyi]**_

[2015-05-30 09:26] aeden opened #739 "Broken link in README"
The blog post that used to be at http://basho.com/blog/technical/2011/04/12/Where-To-Start-With-Riak-Core/ and that is referenced in the README is no longer available.

[2015-06-01 21:36] Licenser opened #740 "riak_vnode calls request_hash"
riak_vnode calls the function request_hash in two places:

[code]

that function is part of the active anti entropy code, however that code is not part of riak_core. This is potentially (and realistically breaking) riak_core applications.

[2015-06-12 05:04] jsvisa opened #743 "riak_core_vnode maybe into dead handoff looping"
When `riak_core_handoff_sender` finish sending it's handoff data, it will send a `sync` command to the targe, but the targe maybe close the tcp connection in advance. In that case, the sender may turn into `handoff_erro` and trigger another handoff process again, but the later one may also into the below's dead case. Should we handle `closed` tcp connection [L235-L240](https://github.com/basho/ria

[2015-06-12 10:14] jsvisa opened #744 "When to clear tainted ring state or what's the meaning of tainted ring"
In *riak_core_ring_manager.erl*, everytime you fresh the ring, or transfer the ring, you have to `riak_core_ring:set_tainted/1`, but I don't see anywhere to clear the `tainted` ring? So my question is what does `riak_core_ring:set_tainted/1` actually did? What's the meaning of a `tainted` ring? Yeah, you may say a tainted ring is dangerous, the riak_core may stopped by `app_helper:get_env(riak_cor

[2015-06-17 17:19] tylerhannan commented on #739
http://basho.com/posts/technical/where-to-start-with-riak-core/ should be the updated URL.  Let me know @cmeiklejohn if you want me to fix.

[2015-06-27 20:04] macintux opened #749 "Failed pb_cipher_suites test on laptop"
Hey @tburghart, if you get a chance to look at this it'd be helpful. It's not failing on the builder, so I expect it's some Mac-specific SSL unhappiness.

[code]

[2015-07-06 11:30] Basho-JIRA commented on #727
It's been merged (looking at the "Minor fixes to allow make docs to succeed" PR). Set it to closed at this point.

**_[posted via JIRA by Douglas Rohrer]**_

[2015-07-09 22:22] Basho-JIRA commented on #727
create jira issue

**_[posted via JIRA by Derek Somogyi]**_

[2015-07-12 17:13] josemic opened #753 "Riak core build fails due to conflicting deps versions"
With riak_core {tag, "2.0.3"}, {tag, "2.1.0"},  I get conflicting dependencies:

[code]

With riak_core {tag, "2.1.1"},  I get conflicting dependencies:

[code]
With riak_core {branch, "develop"}  I get conflicting dependencies:

[code]

[2015-07-13 18:16] Basho-JIRA commented on #706
This issue is currently holding up the PHP 2.1 release.  It appears as though the change/fix will be included in the 2.1.2 release.  I added that tag to the Labels field.

**_[posted via JIRA by Derek Somogyi]**_

[2015-07-20 18:28] Basho-JIRA commented on #706
Merged into 2.1 on July 7.

**_[posted via JIRA by Douglas Rohrer]**_

[2015-07-20 18:28] #706 closed

[2015-08-04 20:03] mbbroberg commented on #722
Hey @DeadZen, are you good with where this landed?

[2015-08-05 14:29] DeadZen commented on #722
Not yet, we've only identified a very basic outline of the problem, and
what we shouldn't do- a good start.
The exact avenue to proceed with still needs a bit more definition for us
to forge ahead with some confidence.
Russell has helped me fill some gaps in the forming of a correct solution,
now we need to attempt a generic abstraction.
I think to make our efforts truly productive we should also

[2015-08-05 17:43] viktoriafordos opened #760 "Failing transfers because of false overload protection in proxy processes"
There is a 6 node Riak cluster running Riak version 1.4.12. All the hinted handoffs from riak@riak-06 node are stalled. The debugging showed that the transfers cannot be completed because the overload protection kicks in on the vnodes willing to handoff. These vnodes are secondary vnodes that aren't in use at the moment, since the primary vnodes came back and have functioned properly.

However, @t

[2015-08-05 19:18] jonmeredith commented on #760
Thank you for the detailed bug report.  Was the system under very heavy load at any point?  > 2500, >5000 or > 10000 messages queued to trigger any of the intervals?

If you need to get the system running you can restart that node. On restart the primaries will be started before riak_kv is marked as up, then the fallback nodes will be woken to check for data.

[2015-08-06 19:10] drewkerrigan opened #763 "Mailbox can grow very large when starting many nodes simultaneously with custom bucket properties"
Cross-post from: https://github.com/basho/yokozuna/issues/389

The specific riak_core_broadcast ordsets:add_element/2 queue length problem occurs when setting a custom bucket property (allow_mult=false in this case) multiple times on every node in a large (32 nodes in this case) cluster. The result seems to be a race condition that ends up multiplying the actual change to the bucket metadata. Whil

[2015-08-06 19:14] drewkerrigan commented on #763
cc: @wbrown

[2015-08-12 17:00] jonmeredith commented on #760
create jira issue

Fingers crossed.

[2015-08-14 16:46] jonmeredith commented on #760
Fix will ship in 2.1.2 and 2.0.7

[2015-08-14 16:46] #760 closed

[2015-08-24 08:18] cipy opened #773 "riak_repl stats :: double conversion to local time"
Hi,

There's a double conversion to local time which impacts how json stats are displayed via the http rest api
https://github.com/basho/riak_repl/blob/develop/src/riak_repl_wm_stats.erl#L184

Thanks,

[2015-08-27 08:09] Basho-JIRA opened #775 "riak_core incorrect dependencies [JIRA: RIAK-2130]"
The app dependencies in rebar.config and .app.src are not in sync with the actual usage in the application.

This is currently one of the blockers for using the application as a dependency in your own project - at least if you want to use relx and rely on proper OTP rules for releases.
E.g., in riak_ee all the non-OTP applications show up without a version number in the directory name in the lib d

[2015-09-01 18:46] Basho-JIRA commented on #727
https://github.com/basho/riak_core/pull/728

**_[posted via JIRA by Patricia Brewer]**_

[2015-09-04 17:24] sargun opened #777 "dropped_vnode_requests_total stat not working / incrementing"
riak_core_stat:update(dropped_vnode_requests). (riak_core_vnode_proxy.erl:275) doesn't seem to be incrementing dropped_vnode_requests_total on the stats endpoint.

This is critical to determining if there are problems with disterl, or overload within Riak. IDeally, riak_core_vnode_proxy would have more instrumentation.

[2015-10-01 15:04] TBK145 opened #784 "erlang:now is deprecated in Erlang 18 [JIRA: RIAK-2211]"
Since erlang:now is deprecated in Erlang 18, it prevents the compilation of riak_core on Erlang 18 (http://www.erlang.org/news/88).

This should probably be replaced with erlang:timestamp (http://www.erlang.org/doc/man/erlang.html#timestamp-0).

[2015-10-14 21:58] mbbroberg commented on #707
I saw your note @marianoguerra. I'll ask @seemaj to get this into our Jira and see when we can merge. Thank you! FYI @Basho-JIRA

[2015-11-16 17:54] liveforeverx opened #795 "Supervisor name should always be the same"
At least, it is not documented in wiki (or may be fixed??)

Due to this piece of code: https://github.com/basho/riak_core/blob/develop/src/riak_core_ring_handler.erl#L156 if you supervisor has another name, the joining of cluster nodes doesn't work anymore without any meaningful error/info/debug message, because `service_up(app, undefined)` simply deletes any previous registered information, that

[2015-11-25 18:17] ian-mi opened #796 "hashtree ignores write_buffer_size"
hashtree:new_segment_store randomly generates the write buffer size using write_buffer_size_min and write_buffer_size_max but it does not check to see if write_buffer_size is already present in the leveldb options causing it to be ignored. Additionally, only write_buffer_size is exported by riak_kv.schema.

[2015-12-23 16:16] matehat commented on #784
Filed a pull request for that: #799

[2016-01-08 17:38] lucasbru opened #801 "Gregorian vs. Unix timestamps"
This might be a non-issue, but I realized that timestamps in vector clocks are defined as of year 0 instead of year 1970, leading to a 5-byte large integer encoding instead of the usual 4-byte encoding. Is that worth the potential performance hit?

[2016-01-08 18:18] jonmeredith commented on #801
The reasons are mostly historical around the calendar module.  There's no real need for anything beyond the time the vclock is first created in a cluster.

It's something we'd like to get around to re-engineering, but for Riak we need to worry about compatibility and changing to a more recent epoch will make them smaller and confusing.

[2016-01-13 11:39] ostdp opened #803 "failed_to_start_child,riak_core_ring_manager happening repeatedly on different nodes running 2.1.3"
2016-01-13 10:36:11 =CRASH REPORT====
  crasher:
    initial call: application_master:init/4
    pid: <0.160.0>
    registered_name: []
    exception exit: {{{shutdown,{failed_to_start_child,riak_core_ring_manager,{{case_clause,1},[{dict,rehash,4,[{file,"dict.erl"},{line,562}]},{dict,rehash,4,[{file,"dict.erl"},{line,561}]},{dict,maybe_expand_aux,2,[{file,"dict.erl"},{line,517}]},{riak_core_ring,u

[2016-01-20 07:16] ksauzz opened #804 "vnodeq histogram disappear when the number of vnodes is 2 on a node. [JIRA: RIAK-2357]"
#### Phenomenon

Problem: `riak_[kv|pipe]_vnodeq_[max|mean|min|median|total]` **disappears** on a node which **own 2 vnodes**.

[code]

Expected behavior: `riak_[kv|pipe]_vnodeq_[max|mean|min|median|total]` **appears** on a node which **doesn't own 2 vnode**.

[code]

#### Reproduction

1. prepare 5 nodes with ring size = 8
2. make a cluster by them
3. wait for finishing handoffs.
4. check http st

[2016-01-26 06:50] kuenishi commented on #804
https://github.com/Feuerlabs/exometer_core/issues/67 might be one way to fix this.

[2016-02-02 09:39] Gatzy118 opened #807 "sync_spawn_command hangs for infinity if the vnode crashes or replies {stop, _, _}"
When sending a sync_spawn_command I notice in riak_core_vnode.erl:345 that the {stop, Reason, NewModState} case doesn't reply to the sender. Given that riak_core_vnode_master:148 issues a sync_spawn_command with a timeout of infinity, the caller will hang forever.

The same goes when the vnode crashes during a handle_command. I think the vnode_master ought to trap_exits to catch vnode crashes and

[2016-02-05 01:40] kuenishi commented on #804
I tried to open a PR at basho/exometer_core by pushing a branch to cherry-pick the fix https://github.com/Feuerlabs/exometer_core/pull/67, but I couldn't because it is not in the list of full-push-pull access group. Might it be a bigger challenge to update or to rebase exometer_core to the latest version and apply our changes?

[2016-02-08 22:06] TheOnlyRew opened #810 "Add logging filter to not raise error when monitoring transient nodes."
https://github.com/basho/riak_core/blob/develop/src/riak_core_dist_mon.erl#L81

For example, when the dist mon attempts to monitor nodes created to perform `riak-admin test` operations, it often spit out spurious errors in the form.

```@riak_core_dist_mon:handle_info:81 Could not get dist for 'riak_test@<node_name>'```

Basho folks, related ZenDesk ticket number: 13033

[2016-02-08 22:09] jonmeredith commented on #810
also impacts riak_core_tcp_mon in riak_repl.

[2016-02-24 18:47] joecaswell opened #815 "Missing bucket type name should be logged"
When a value in a typed bucket type in a backend, but the bucket type does not exist, riak_core_bucket:get_bucket returns {error, no_type}.  The resulting error message below does not show the name of the missing type.  In order to fix this the operator must run a full keylist and verify every bucket type encountered.

[code]

[2016-02-26 20:53] Basho-JIRA commented on #804
Opened PR https://github.com/basho/exometer_core/pull/10 to cherry pick Kota's patch

***[posted via JIRA by Mark Allen]***

[2016-02-26 21:05] Basho-JIRA commented on #804
Opened PR https://github.com/basho/exometer_core/pull/10 to cherry pick Kota's patch and https://github.com/basho/riak_core/pull/817 to pull in updated exometer tag

**_[posted via JIRA by Mark Allen]**_

[2016-02-29 03:14] Basho-JIRA commented on #804
Need to get the riak_core PR reviewed and merged.

**_[posted via JIRA by Mark Allen]**_

[2016-03-03 22:20] #804 closed

[2016-03-03 22:22] Basho-JIRA commented on #804
Mark's original PRs are all merged, and I've forward merged the fix from 2.0 to develop-2.2 in https://github.com/basho/riak_core/pull/822. Marked as fixed.

**_[posted via JIRA by Nick Marino]**_

[2016-04-30 05:10] DeadZen commented on #807
It actually should already... Is this a regression @slfritchie  ?
https://github.com/basho/riak_core/compare/slf-integrate-deadzen-273#diff-1664283599bcf74812b0ceb2d2fc954cR135

[2016-05-03 14:58] DeadZen commented on #807
I've verified this can happen, it occurs only under a specific condition where the indexes overlap...
And the index vnode dies during a prior request before the response of a current request completes, presumably because the dying vnode has no list of callers awaiting a response to be contacted during it's termination process... the question is should this behavior be modified?

[2016-07-25 20:15] chowevtfy opened #850 "Add support for OTP 19 [JIRA: RIAK-2713]"
This library is falling behind and should be updated to support a modern OTP version. There's so many dependencies that it's very difficult to update the entire dependency tree to support new versions, so it'd be useful to remove dependencies as much as possible.

[2016-08-24 19:28] joecaswell opened #855 "riak_core_ring:reconcile is inconsistent when updates occur less than 1 second apart [JIRA: RIAK-2772]"
If updates to the same key in the ring metadata occur on different nodes during the same second, they are not reconciled.  The [merge_meta](https://github.com/basho/riak_core/blob/develop/src/riak_core_ring.erl#L1370-L1378) function selects the remote value when metadata entries differ but have the same timestamp, which causes the nodes to change the local ring and regossip.  This can lead to node

[2016-08-25 19:18] Basho-JIRA commented on #855
When we pick this up (2.2.1?) please bring [~eleitch] along for the ride for knowledge sharing.

**_[posted via JIRA by Douglas Rohrer]**_

[2016-10-05 17:44] bsparrow435 commented on #151
Fixed on develop.

[2016-10-05 17:44] #151 closed

[2016-10-05 19:10] #162 closed

[2016-10-10 19:56] paulhenrich opened #865 "Type specs are wrong but don't run due to deprecated format [JIRA: RIAK-2811]"
@jvoegele and I found this while looking into [the crash reported against riak_kv](https://github.com/basho/riak_kv/issues/1497).

In riak_core_bucket, the type spec uses the old comment format and doesn't run. Additionally it doesn't reflect the actual behavior. In particular, the ok case doesn't return a tuple it just returns the Bucket Props. Also, the type definition for riak_core_bucket_props

[2016-10-11 16:13] paulhenrich opened #866 "Capabilities override persists after change to advanced.conf"
While testing the new capability override `{riak_kv, object_hash_version}`, I noticed that once I set it in `advanced.conf`, the value persists even after the override has been removed.

## Observed behavior on riak-ee_2.2.0rc8
Add the following to /etc/riak/advanced.conf:
[code]

riak start && riak attach
[code]

After reverting change to advanced.config, removing override, and restarting node:
[

[2016-10-19 22:17] hachreak commented on #850
Hi guys,
there is any news about support OTP 19? :)
I saw many PR (e.g. #785) that try to resolve the problem, but it looks like all pretty old.

[2016-10-31 10:07] binarytemple-external commented on #707
@angrycub one dropping through the cracks here.

[2016-11-01 10:23] binarytemple-external commented on #744
@jsvisa +1 also curious - changes were introduced by this [P/R](https://github.com/basho/riak_core/pull/102) by @jtuple in 2011.

I never really understood the distinction between riak_core_ring:get_raw_ring and riak_core_ring:get_my_ring.

Examining the data structure returned by `riak_core_ring_manager:get_raw_ring()` - the only significant difference seems to be the following field: `[[riak_cor

[2016-11-08 21:48] Basho-JIRA commented on #855
See https://github.com/basho/riak_core/tree/hotfix_2.1.3_metadata_compare_fix for patch provided to OpenX and review for inclusion into 2.2.1.

***[posted via JIRA by Douglas Rohrer]***

[2016-12-01 15:57] bsparrow435 commented on #850
We're currently in process of bringing all our Erlang libraries to OPT18/19 compatibility. This work is slated to be finished early in the new year. Will update accordingly once dependencies have been brought up to date and the work is complete.

[2016-12-04 12:26] jvdvleuten opened #880 "When doing a hot upgrade with relup release handling, the application parameters are gone."
When doing a hot upgrade, all application parameters are gone. When using the correct .conf file, it still misses some parameters because they are set using `application:set_env/3`. After the upgrade, the riak_core application is thus broken.

See this quote on the release handling manual page:

http://erlang.org/doc/design_principles/release_handling.html#id84983

Application parameters are set a

[2016-12-08 21:50] nickelization opened #883 "Investigate possible benefits of pre-generating claims?"
Some of us Basho folk had a discussion today about the Copysets paper and how it relates to Riak, and one byproduct of that conversation was the idea of pre-generating claims. I don't know how true this is, but at some point I recall hearing that claim v3 is superior to claim v2 in some ways, but is not used as the default because it can sometimes be very slow. If the actual data generated by the

[2016-12-13 20:45] Basho-JIRA commented on #855
2.0.8 PR: https://github.com/basho/riak_core/pull/886

***[posted via JIRA by Brian Sparrow]***

[2016-12-22 20:51] ginahagg commented on #850
is this still on schedule?

[2017-01-25 18:22] AlexanderChen1989 commented on #850
anything new?

[2017-01-25 18:40] bsparrow435 commented on #850
Yes, this continues to be under active development and will be available soon although I cannot provide an exact date . One of our engineers will be giving a talk about why this has been so difficult at Erlang Factory: http://www.erlang-factory.com/sfbay2017/ted-burghart.html

[2017-01-31 17:03] #855 closed

[2017-02-15 19:48] mikedotson opened #899 "Default Ring Size in riak.conf should be 128"
Currently, the default ring_size in the riak.conf file is set to 64.  This is a reasonable setting for clusters with nodes less than 6 nodes [Cluster planning](http://docs.basho.com/riak/kv/2.2.0/setup/planning/cluster-capacity/#ring-size-number-of-partitions), however, a minimum of 5 nodes is recommended for a production Riak cluster [Why Your Riak Cluster Should Have At Least Five Nodes](http://

[2017-05-16 13:45] martinsumner opened #908 "Riak claim property-based tests are misleading"
Associated with this issue is a long read:

https://github.com/martinsumner/riak_core/blob/mas-claimv2issues/docs/ring_claim.md

We have done some analysis of claim, because of a history of noting oddities about the outcomes of certain claim plans.  The headline issue we discovered was that the property-based tests make an assumption about how cluster plans are formed that does not reflect the rea

[2017-05-16 17:34] jadeallenx commented on #908
The document you link is excellent.

A suggestion is that you add (perhaps toward the beginning) that in the riak system, a vnode is *the* unit of concurrency and "ring size" is essentially mapping units of concurrency to a slice of the keyspace riak manages.

[2017-05-16 18:42] martinsumner commented on #908
Thanks for the feedback Mark.  I've added a terminology section to the top of the overview.  Does that read better for you?

[2017-05-16 20:59] matthewvon commented on #908
Somewhere there is commentary about claim, rack awareness, and current vnode size.  This was to lead to balancing algorithms where an algorithm (I put forth a genetic algorithm and Reid proposed a standard Dijkstra algorithm ... no prototypes were created of either) would match the restrictions of rack awareness and facilitate minimized handoff of vnodes to balance against existing nodes or change

[2017-05-17 02:22] jadeallenx commented on #908
@martinsumner I think the glossary is great. Thanks!

[2017-06-18 23:59] ourway opened #909 "Status of risk core - is it dead?"
Sorry to raise this concern.  But based on project activity I think project is slowing down.  Am I wrong?

[2017-06-29 21:58] Iulian7 commented on #850
Is there any progress on this? Also what about Erlang/OTP 20? When I compile with rebar3 I get a few warnings. This is also true for `cuttlefish` and `riak_ensemble`.

[2017-07-14 05:09] jeromer commented on #909
https://www.theregister.co.uk/2017/07/13/will_the_last_person_at_basho_get_the_lights_oh_too_late/

[2017-07-14 05:16] jeromer commented on #909
A possible next step is to move the project under the [ASF](http://apache.org/) umbrella

[2017-07-14 06:55] ourway commented on #909
So my guess was semi true.  **Basho** is dead.

[2017-07-14 17:27] cmeiklejohn commented on #909
Riak Core is far from dead: outside of the uses inside of Riak, Lasp, Antidote, and Project FIFO are all built on Riak Core and will continue to support it independently.

[2017-07-18 08:05] russelldb commented on #909
And the community is still coalescing. Basho maybe dead for practical purposes, but has yet to file for bankruptcy, when that finally happens the assets (including this GH org and repos) will no doubt be bought, maybe by a benefactor who wishes to rehabilitate them. In the mean time, there are the forks that cmeiklejohn has mentioned. I personally use this one https://hex.pm/packages/riak_core_ng

[2017-07-18 21:24] cmeiklejohn commented on #909
:+1: Moving forward, the riak_core_ng package will be, as far as we can tell, the canonical version that Antidote, Lasp, and FIFO will be using and supporting.

[2017-08-01 05:38] jeromer commented on #909
( https://www.theregister.co.uk/2017/07/31/end_of_the_road_for_basho_as_court_puts_biz_into_receivership )

Is there (or will there be) new official homes for Riak core/kv/cs ?

[2017-08-01 16:56] jadeallenx commented on #909
There will eventually be an auction of intellectual property assets including the source code. Whoever buys the assets will decide what happens next. I don't think anyone knows when that auction will take place.

[2017-12-22 10:12] martincox commented on #773
Is this actually double converted? What behaviour is being observed? (Long shot on a 2+YO ticket, I know).

I dug this up because there's an issue with displaying stats during clocks going forward for DST. The timestamp passed through to here is derived from `riak_core_util:moment/0`, and is ultimately converted to a datetime with `calendar:gregorian_seconds_to_datetime/1`, which yields a UTC date

[2018-02-04 18:59] victorolinasc commented on #909
Is there an update to the status here? I know that http://bet365techblog.com/riak-workshop-summary happened but I am not seeing any activity.

Sorry if this is a bother, but I am a huge fan of the work here and will start to depend on this for a personal project, so it would be cool to have another status update.

People would love to contribute here if:

- Branches were cleaned up
- Deps were cle

[2018-02-04 21:10] marianoguerra commented on #909
@victorolinasc most of the new activity is in the https://hex.pm/packages/riak_core_ng branches there's a lot of activity that should start to bear fruits in the following months.

no, it's not dead :)

[2018-02-07 16:22] bryanhuntesl opened #914 "test issue"

[2018-02-07 16:23] #914 closed

[2018-02-13 05:31] ourway commented on #909
I hope so

[2018-07-24 08:11] russelldb commented on #909
and of course basho/riak_core continues to be improved, but with the focus being on supporting the Riak database. We've tagged riak_core for two releases since this issue was opened. And we continue to work on the basho/riak_core.

There is a lively downstream set of forks (see above.) And soon we will be moving basho /riak_core to a modern erlang.

All that said, I'm going to close this issue. If

[2018-07-24 08:11] #909 closed

[2018-07-24 08:12] russelldb commented on #908
Going to close this, as we shipped improvements. I do think that the riak claim statem we started on needs finishing, when there is time (I'll open a new issue for that, specifically that `leave` needs modelling)

[2018-07-24 08:12] #908 closed

[2018-07-24 08:13] russelldb opened #922 "Leaving a cluster is not tested in the claim eqc tests"
There is a claim statem in a branch that needs finishing, that includes leave. As it is, leave is not modelled, and not quickchecked.

[2018-07-24 08:17] russelldb opened #923 "unexplained riak_core_vnode_worker_pool crashes"
Reported by NHS SUS team:

[code]
Looking at the code, this appears to be a `poolboy:checkout/2` call timeout.

[2018-07-24 13:45] russelldb commented on #923
Just adding this note not to bark up an old deadlock tree (https://github.com/basho/riak_core/commit/7a60b6e80a7556f2bfb49021340079bee8bd11a9)

[2019-03-15 12:20] ThomasArts opened #936 "riak_core_bg_manager race"
I work on branch `develop-3.0` but this issue seems not related to specifically that branch.
Looking into the QuickCheck tests that actually fail, but are masked for failure by ?TRAPEXIT:

When calling riak_core_bg_manager:start() two ets tables are generated before actually starting:
[code]

These ets tables are supposed to survive a crash of `riak_core_bg_manager`, such that after restart, these

[2019-04-25 10:56] llelf commented on #763
@drewkerrigan any more info on how to trigger it?

I’d _really_ love to get a riak_test case for this.
Current status: already getting ridiculous¹ — doesn’t help, riak is stable.  Next thing to try is probably adding network delays.

¹) https://github.com/llelf/riak_test/blob/RCB/tests/rcb.erl#L47

[2019-05-10 09:06] ThomasArts opened #939 "Result of new ModState ignored"
This looks like a harmless unused variable, but ModState0 may indicate a new workerpool added that is "forgotten" about in the system.

As a consequence, in some settings, `queue_work` may fail unexpectedly

https://github.com/basho/riak_core/blob/22b92dc14dc47a7f7f57bf642a45adc791bb9234/src/riak_core_vnode.erl#L233

[2019-05-10 21:56] martinsumner commented on #939
Currently looking to create some new riak_test tests for develop-2.9 to properly highlight this and some related issues:

- behaviour with folds and different pool strategy
- rebuild in parallel mode, and the need for fold_objects to read binary objects
-  handling an aae_fold query when tictac aae is disabled on a node

Previously it was assumed that verify_tictac_aae was testing this functionali

[2019-05-11 00:37] martinsumner commented on #939
@ThomasArts Something has gone wrong with the merge here as in develop-2.9 ModState0 is used correctly, being used in L248.

https://github.com/basho/riak_core/commit/2d85e34d7dd342d104c9d056e33b061e26ce6034

I wrote a test for develop-2.9 assuming it was broken, to try and expose it was broken - and the test failed because it discovered a different bug.

That undiscovered bug is fixed, and I've p

[2019-06-14 09:50] martincox commented on #850
Done in develop-3.0.

[2019-06-14 09:50] #850 closed

[2019-06-14 13:25] #784 closed

[2019-10-27 22:12] #939 closed

[2019-10-27 22:39] martinsumner opened #943 "riak_core_claimant tick can occur after close"
When a node is leaving a cluster the final trigger to exit is a call to `riak_core_ring_manager:refresh_my_ring/0`

https://github.com/basho/riak_core/blob/9f7d0538e01e248dc4f5e0efff328737f23d8fb9/src/riak_core_ring_manager.erl#L377-L388

The refresh_my_ring call will be prompted from `riak_core_ring_handler:ensure_vnodes_started/1`:

https://github.com/basho/riak_core/blob/9f7d0538e01e248dc4f5e0e

[2019-10-27 22:46] martinsumner commented on #943
The resolution to this I think is to make a call to the `riak_core_claimant` during the handle_call of `refresh_my_ring` prior to the ring refresh - and this call should stop any future tick from being accepted, and prompt the `maybe_bootstrap_root_ensemble/1`.

This way we can be sure that `maybe_bootstrap_root_ensemble/1` is called prior to the ring being refreshed, and never after.

[2019-10-27 23:44] martinsumner commented on #943
It may be useful in a couple of other places to have riak_core_claimant go into a `pending_close` state which ignores ticks, and will respond to a `is_pending_close/0` call.

Currently the `riak_repl` `riak_repl_ring_handler` may crash on leave -> exit when it reacts to the ring change to a flushed ring (and hits a set_env timeout, perhaps due to the shutdown).  There are also issues during slow s

[2019-10-28 09:27] martinsumner commented on #943
Perhaps a closing ring should have some other metadata (similar to setting a tainted ring), and that be checked by processes reacting to a ring change.  That might be better then discovering the pending close via `riak_core_claimant`

[2019-10-29 10:24] martinsumner commented on #943
There are branches `develop-3.0-lastgaspring` that now pass the test: https://github.com/basho/riak_core/tree/develop-3.0-lastgaspring.

There are also related branches under the same name for `riak_kv` and `riak_repl` that also address messy shutdown on exit issues using the new ring metadata made available in riak_core.

[2019-11-05 10:25] martinsumner opened #946 "OTP 21 and OTP 22 support"
Failure to build > OTP 20

_build/default/lib/riak_core/src/riak_core_ssl_util.erl:131: ssl:ssl_accept/2: deprecated; use ssl:handshake/2 instead

[2019-11-05 10:26] martinsumner commented on #943
https://github.com/basho/riak_core/pull/945

[2019-11-05 10:26] #943 closed

[2019-11-05 14:21] angrycub commented on #565
Closing this issue.
![bitmoji](https://render.bitstrips.com/v2/cpanel/0343a55f-9c3d-4cae-b54f-483cd99a2223-f6c98c2d-9e3b-45d3-ba0b-8d58704d437a-v1.png?transparent=1&palette=1&width=128)

[2019-11-05 14:21] #565 closed

[2019-11-18 12:14] Bob-The-Marauder opened #950 "GSets cannot be created until other items are"
If you have a brand new cluster with no data whatsoever, gsets cannot be created. This can currently be worked around by creating a set first and then the gset. Example underneath where I fail multiple times to create a gset, successfully create a set and then create my gset with the exact same command that was failing earlier:-

[code]

The above is on CentOS 6 with a vanilla install of Riak KV 2

[2019-11-25 17:46] v-kat commented on #946
This might have been addressed by my PR. Let me know, if you want anything else. It might be nice to have all the supported versions built on travis to have a more automated CI process.

[2019-11-25 17:52] damfly commented on #946
@IRog after using your PR, I confirm it compiles and everything is ok so far while running it

[2019-11-25 18:34] martinsumner commented on #946
Looks good.  There is just the one dialyzer issue with exometer, and then we can close the issue - there's someone looking at this now.

Many thanks for the PR @IRog

[2019-12-03 10:30] kshitizsuman-gs commented on #946
@IRog I see you haven't merged your PR changes to the develop branch yet. When are you planning to make a release for riak_core supporting otp 21 and 22 ??

[2019-12-03 11:55] martinsumner commented on #946
There is no active `develop` branch for riak_core - `develop` contained work on Riak features which were planned under Basho (but not released), work on which has discontinued.  The next release of Riak KV will be based on the `develop-3.0` branch which will contain @IRog's changes - and there will be a tagged release of riak_core as part of this.

For a period there will also be tagged releases o

[2019-12-03 11:56] martinsumner commented on #946
After discussion with @ThomasArts the outstanding dialyzer issue in OTP 22 is going to be resolved through a change to `exometer` not riak_core.  As it is not an issue with riak_core itself, I will close this issue.

[2020-01-16 13:06] martincox opened #953 "bucket-type create broken in 3.0"
Does not work when trying to create a new bucket.

At the same time, I also wonder if it's worthwhile considering moving away from the unfortunate need to create a json formatted props string when specifying config at the point of creation. I'm sure that this has been talked about before, there may even be open issues for it somewhere.

`RPC to 'riak@127.0.0.1' failed: {'EXIT',

[2020-01-16 13:17] #953 closed

[2020-04-09 10:28] martinsumner commented on #946
Leaving the issue open - to be reference in temporary dialyzer override

[2020-04-28 09:06] rjmh opened #958 "Deadlock reappears in riak_core_worker_pool."
An old deadlock has reappeared in riak_core_worker_pool. The original problem and its fix are described here (from 2013):

[https://github.com/basho/riak_core/issues/298](https://github.com/basho/riak_core/issues/298)

It appears that the fix didn't entirely solve the problem.

The problem is demonstrated by `worker_pool_pulse`, in the case when the worker pool is of size 1, and the work to be don

[2020-04-28 09:36] martinsumner commented on #958
So, does the problem just come down to this false assumption here:

https://github.com/basho/riak_core/blob/develop-3.0/src/riak_core_worker_pool.erl#L176

The actual state could still be `queueing`, and as we now know the queue is empty, and a worker is available in this case the StateName can be safely be reverted to `ready`.

Have I understood this correctly?

[2020-04-28 09:41] rjmh commented on #958
I think so. I'm testing that change now... the same scenario has passed about 5 million tests so far, and I'll run random scenarios next.

[2020-04-28 11:16] rjmh commented on #958
That fix seems to work. I've submitted a pull request.

[2020-04-28 11:32] martinsumner commented on #958
Thank-you!  I'll try and take a look soon.  Impressive to see pulse back in action.

[2020-08-05 22:21] martinsumner opened #963 "riak_core_worker_pool - reply on exit"
When the riak_core_worker_pool exits it does not reply in a valid way (in 2.9):

```{{function_clause,[{riak_core_vnode,reply,[<0.947.0>,{error,vnode_shutdown}],[{file,"src/riak_core_vnode.erl"},{line,1024}]},{riak_core_worker_pool,discard_queued_work,2,[{file,"src/riak_core_worker_pool.erl"},{line,263}]},{riak_core_worker_pool,terminate,3,[{file,"src/riak_core_worker_pool.erl"},{line,227}]},{gen_

[2020-08-05 22:22] martinsumner commented on #958
https://github.com/basho/riak_core/pull/959

[2020-08-05 22:22] #958 closed

[2020-08-26 15:36] albsch commented on #958
I know this is a bit late, but a [cleanup and rewrite](https://github.com/riak-core-lite/riak_core_lite/blob/master/src/riak_core_vnode_worker_pool.erl) to a `gen_statem` revealed that the assumption was false in Line 176 (as can be seen in [Line 164](https://github.com/riak-core-lite/riak_core_lite/blob/8103875358c56c108353c8ea69c5c24221886f18/src/riak_core_vnode_worker_pool.erl#L164), [Line 187]

[2020-12-19 02:03] zhangsiyang0629 opened #966 "compile error report"
In a Elixir project, I add riak_core as a dependency in the mix.ex:

  defp deps do
    [
      # {:dep_from_hexpm, "~> 0.3.0"},
      # {:dep_from_git, git: "https://github.com/elixir-lang/my_dep.git", tag: "0.1.0"}
      {:riak_core, git: "https://gitclone.com/github.com/basho/riak_core.git", branch: "develop-3.0-292"}
    ]
  end

However, compile failed, and reported:
** (Mix) Could not compil

[2020-12-19 12:16] martinsumner commented on #966
I would recommend using branch `develop-3.0`, but I don't think this will resolve your problem.  The error complains about cuttlefish, which isn't packaged with riak_core - but in riak this rebar .config snippet is used for cuttlefish:

[code]

Fundamentally though, if you're looking to use riak_core in an application other than riak_kv - I would strongly recommend looking at [Riak Core Lite](http

[2020-12-20 04:12] zhangsiyang0629 commented on #966
Thank you very much. I will look at Riak Core Lite.

[2021-05-12 16:16] l2dy commented on #946
Is this still an issue? Riak KV is said to be tested against OTP 22 now. https://github.com/basho/riak/blob/riak-3.0.6/RELEASE-NOTES.md

[2021-05-12 16:35] martinsumner commented on #946
The issue has been left open as although everything works on OTP 22, there's still a dialyzer issue related to exometer where we're waiting for a change in exometer until we are fully clean in OTP 20+.

[2021-05-13 14:23] l2dy commented on #946
Is it https://github.com/Feuerlabs/exometer_core/pull/122? If we are waiting for a new release from exometer, beware that they have not tagged a new release for two years.

Maybe we should update the title of this issue now that OTP 22 is in fact supported?

[2021-05-13 14:55] martinsumner commented on #946
For note - this is the specific warning (https://github.com/basho/riak_core/blob/develop-3.0/src/riak_core_stat.erl#L23-L26).

I think there was some debate about whether this truly was an exometer issue.  We've not pushed hard to fix it, as there has been work underway for a while to potentially replace stats.

[2021-05-13 15:03] #966 closed

[2021-05-13 16:39] martinsumner commented on #950
@Bob-The-Marauder Did anything happen with this issue?  Is it still an issue?

I assume the problem is that gset is not an existing atom until the set bucket type is created ... but I don't know why it isn't, and why creating the set type makes it one.

[2021-08-18 21:09] martinsumner opened #969 "Update readme"
The readme should be updated to point new users at [riak_core_lite](https://github.com/riak-core-lite/riak_core_lite) instead of riak core.

Going forward I expect Riak Core (this repo) to be maintained, but strictly to fulfil its ongoing role as part of the Riak KV database.

The simplifications made in riak_core_lite, the excellent tutorials, the removal of technical debt, and the active communi

[2021-08-18 21:09] martinsumner commented on #969
Prompted by - https://github.com/riak-core-lite/riak_core_lite/issues/104

[2021-09-27 16:10] martinsumner opened #970 "Leave and attempt_simple_transfer"
In recent refactoring of cluster changes - https://github.com/basho/riak_core/pull/913 and https://github.com/basho/riak_core/pull/967 - the focus has been on behaviour on `join` operations, and not `leave`.

Recently a customer achieved a balanced ring through a join (as expected with the new cluster claim algorithm), but then leave plans kept creating unbalanced rings i.e. rings whereby partitio

[2021-09-27 16:12] martinsumner commented on #970
@systream

[2021-09-28 10:24] martinsumner commented on #970
The above isn't based on a proper understanding of how leave works.

Take an 8-node cluster, and attempt a leave:

[code]

Two things occur here.  Firstly it looks like we do a simple transfer, and only node 3 is valid for taking vnodes from node 7 (with respect to target_n_val).

This is really bad, as this requires double the capacity on node 3 to complete the operation.

However, clearly a seco

[2021-09-28 10:42] martinsumner commented on #970
In the case above - this seems to be a failure for a preflist at n_val 3 as well:

[code]

[2021-09-28 11:35] systream commented on #970
Not dug myself into the code yet, but if i understand correctly it would be nice to claim a new ring when a node leaves (at least when location is set), and maybe the claiming algorithm should be optimised for transfers.

[2021-09-28 13:56] martinsumner commented on #970
The initial change I made https://github.com/basho/riak_core/commit/db9c3f017f612527ee85cfd9a8673ca3b2b799e9 isn't effective as the fallback position on leave is to use `riak_core_claim:claim_rebalance_n/2` which is the old diagonalise algorithm which doesn't resolve tail violations.

Experimenting with calling `riak_core_claim:sequential_claim/2` instead.

Also, after the call to `riak_core_gossi

[2021-09-28 14:20] martinsumner commented on #970
After [this commit](https://github.com/basho/riak_core/commit/256d12d38d1f234b86ca7414c8f39048b253c561):

[code]

This is when setting `always_rebalance_onleave` to `on`.  This is an improvement in that if simple_transfer is going to lead to a significant temporary unbalance - this can be avoided by directly rebalancing from scratch, using the new algorithm which will handle tail violations.

[2021-09-28 14:34] martinsumner commented on #970
I think I now have a handle on the original problem that prompted this.  The problem was a cluster plan like this:

[code]

The issue with this plan is that one node takes two extra vnodes `valid       5.1%      6.3%    'riak@<x>.<y>.<z>.23'`.  this is after a simple_transfer - so why did the call to `riak_core_claim:claim/1` do nothing, and fail to rebalance this.

The problem is that `claim_unti

[2021-09-28 15:07] martinsumner commented on #970
@systream - apologies, false alarm, I don't think there is an issue with location awareness here.   This is just an issue with balancing the cluster correctly.

[2021-09-28 16:04] martinsumner commented on #970
Clarification as to the issue:

On leave, the following process is used:

1a. Attempt a simple_transfer, try and transfer the vnodes from the nodes to safe places - and if there are multiple safe places choose at random
1b. If the simple_transfer is not possible i.e. a state is reached where a vnode has no safe place (compatible with target_n_val) - then a full re-diagonalisation is called (and en

[2021-09-28 21:16] systream commented on #970
Are there any use cases where a customer prefers a probably faster leave over potentially imbalanced/not proper ring?
Maybe ring rebalance should be always forced on node leave.

[2021-09-29 07:39] martinsumner commented on #970
The PR https://github.com/basho/riak_core/pull/971 provides an improvement to B.  This also partially mitigates issues with C, as the input to C is less likely to be imbalanced

[2021-09-29 07:42] martinsumner commented on #970
@systream with very big databases a full re-diagonalisation to rebalance can take a huge amount of time (many days potentially) - so I think there will always be cases where a simple_transfer follow by rebalance by claim is the preferred way.

I think the fixes we now have to this issue provide sufficient mitigation and improvements now.  Just need to try and figure out the best way to test this.

[2021-09-29 19:49] martinsumner commented on #970
There appears to be an additional bug as the attempt_simple_transfer does not check for tail violation - that is to say when it reaches the tail of the ring, it does not check forward back through to the front of the ring (i.e. with ring-size of 64 - the Idx 63 should not overlap with the Idx 0, 1, 2).

[2021-09-30 19:40] martinsumner commented on #970
The `attempt_simple_transfer` logic is now refactored in https://github.com/basho/riak_core/pull/971.  This now uses the same method for looking forward and backwards in the ring - with that method supporting of checking for tail violations, as it loops around the ring when required.

[2022-03-19 15:24] Raphexion opened #986 "Maybe improve documentation for size/1 in chash"
While reading the source code for `chash` I found the documentation for the `size/1` function a little confusing. The comment say that it returns the _number of partitions_, and the code returns _the number of nodes_.

This is probably just confusing because I know so little. But I wanted to ask because it might be a mistake.

https://github.com/basho/riak_core/blob/develop/src/chash.erl#L175-L179

[2022-03-19 16:49] martinsumner commented on #986
It is confusing.

The type definition for chash() is:

https://github.com/basho/riak_core/blob/develop-3.0/src/chash.erl#L61

So the second part is `[node_entry()]` not `[node()]`.  The `node_entry()` definition is:

https://github.com/basho/riak_core/blob/develop-3.0/src/chash.erl#L70

So this is a list of tuples, a mapping between partition and node - so that list is as long as the number of par

[2022-03-19 17:23] Raphexion commented on #986
@martinsumner Thank you for such a detailed answer :sunny: .

Thank you so much for the link to `riak_core_lite`. I am very interested in learning more about the riak_core and what makes it work. This is exactly what I am looking for.

Concerning the documentation. I guess it is safest to just leave it as it is. My initial feeling was exactly like you wrote, why not just trust the `NumPartitions`

[2022-03-19 17:23] #986 closed

[2022-05-24 13:35] fkrause98 opened #989 "Riak Core needs to run 'compiler' under its applications"
Hi!
I'm using OTP 24 (also have tried OTP25) and I was trying to set up a basic riak core project, but when I try to run the release binary, I get the following error:
[code]

Seems like this happens If I don't have 'compiler' in my applications, like this:
[code]
If I uncomment it, and rebuilt everything again, the release works.

It seemed a bit strange to me why I need this, if this is not an i

[2022-05-24 13:51] martinsumner commented on #989
I'm not sure.  Riak Core is primarily used in Riak, and there the [.app file doesn't include compiler](https://github.com/basho/riak/blob/develop/apps/riak/src/riak.app.src).

If you're starting a riak_core project as an experiment, it may be worth trying first to use [Riak Core Lite](https://github.com/riak-core-lite/riak_core_lite).  The Riak Core Lite project has some tutorials and is more acti

[2022-05-24 14:27] fkrause98 commented on #989
Hey, thanks for the answer! :)

I was following [this tutorial](https://github.com/lambdaclass/riak_core_tutorial), that is a bit outdated, and seems like it's using an old fork of riak core, I thought that this repo's riak core version would be the one to replace it.